---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBinaryOperators: NonAssignment
InsertBraces: true
IncludeBlocks: Regroup

# Local includes should come before system includes
IncludeCategories:
  - Regex:           '^".*"'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
